@model Stagio.Web.ViewModels.InternshipAgreement.Create

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-8">
        <h4>@Stagio.Web.WebMessage.InternshipAgreementMessage.FORM_TITLE</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- CompanySection -->
        <div class="panel panel-primary">

            <div class="panel-body">

                <div class="panel-heading">
                    @Stagio.Web.WebMessage.InternshipAgreementMessage.CompanySection.SECTION_TITLE
                </div>

                <!-- Company -->
                <div class="form-group">
                    <div class="col-md-4">
                        <b>@Stagio.Web.WebMessage.InternshipAgreementMessage.CompanySection.COMPANY_NAME</b>
                        @Html.DisplayFor(model => model.Company.Name, new { @class = "form-control" })
                    </div>

                    <div class="col-md-4">
                        @Stagio.Web.WebMessage.InternshipAgreementMessage.CompanySection.COMPANY_ADDRESS
                        @Html.DisplayFor(model => model.Company.Address, new { @class = "form-control" })
                    </div>
                </div>
                <!-- ./Company-->

                <!-- PersonInCharge -->
                <div class="form-group">
                    @Html.LabelFor(model => model.PersonInCharge.Name, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-2">
                        @Html.DisplayFor(model => model.PersonInCharge.Name)
                    </div>

                    @Html.LabelFor(model => model.PersonInCharge.Title, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-2">
                        @Html.DisplayFor(model => model.PersonInCharge.Title)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PersonInCharge.PhoneNumber, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-2">
                        @Html.DisplayFor(model => model.PersonInCharge.PhoneNumber)
                    </div>

                    @Html.LabelFor(model => model.PersonInCharge.Email, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-2">
                        @Html.DisplayFor(model => model.PersonInCharge.Email)
                    </div>
                </div>
                <!-- ./PersonInCharge -->

                <div class="form-group">
                    <div class="form-control-static col-md-8">
                        @Html.TextAreaFor(model => model.CompanyCommitmentMessage, new { @class = "form-control", @rows = "4"})
                    </div>
                    @Html.ValidationMessageFor(model => model.CompanyCommitmentMessage, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remunerated, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Remunerated)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeSignature, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EmployeeSignature, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeSignedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EmployeeSignedDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>
            </div>
        </div>

        <!-- StudentSection -->
        <div class="panel panel-primary">
            
            <div class="panel-heading">
                @Stagio.Web.WebMessage.InternshipAgreementMessage.StudentSection.SECTION_TITLE
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="form-control-static col-md-8">
                        @Html.TextAreaFor(model => model.StudentCommitmentMessage, new { @class = "form-control", @rows = "4" })
                    </div>
                    @Html.ValidationMessageFor(model => model.StudentCommitmentMessage, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @WebMessage.InternshipAgreementMessage.StudentSection.STUDENT_NAME_LABEL
                    @Html.LabelFor(model => model.PersonInCharge.PhoneNumber, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-2">
                        @Html.DisplayFor(model => model.InternshipApplication.ApplyingStudent.FullName())
                    </div>

                    @WebMessage.InternshipAgreementMessage.StudentSection.STUDENT_IDENTIFIER_LABEL
                    <div class="form-control-static col-md-2">
                        @Html.DisplayFor(model => model.InternshipApplication.ApplyingStudent.StudentId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudentSignature, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.StudentSignature, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudentSignedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.StudentSignedDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>

            </div>
        </div>

        <!-- School Section -->
        <div class="panel panel-primary">

            <div class="panel-heading">
                @Stagio.Web.WebMessage.InternshipAgreementMessage.SchoolSection.SECTION_TITLE
            </div>

            <div class="panel-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.SchoolCommitmentMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SchoolCommitmentMessage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SchoolCommitmentMessage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CoordinatorSignature, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CoordinatorSignature, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CoordinatorSignedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CoordinatorSignedDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
