@model Stagio.Web.ViewModels.InternshipAgreement.Create

@{
    ViewBag.Title = "Create";
}

<h2>@Stagio.Web.WebMessage.InternshipAgreementMessage.FORM_TITLE</h2>
<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- CompanySection -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Stagio.Web.WebMessage.InternshipAgreementMessage.CompanySection.SECTION_TITLE
            </div>
            <div class="panel-body">
                <!-- Company -->
                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.CompanyName)
                    </div>

                    @Html.LabelFor(model => model.CompanyAddress, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.CompanyAddress)
                    </div>
                </div>
                <!-- ./Company-->

                <!-- PersonInCharge -->
                <div class="form-group">
                    @Html.LabelFor(model => model.PersonInCharge.Name, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.PersonInCharge.Name)
                    </div>

                    @Html.LabelFor(model => model.PersonInCharge.Title, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.PersonInCharge.Title)
                    </div>

                    @Html.LabelFor(model => model.PersonInCharge.PhoneNumber, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.PersonInCharge.PhoneNumber)
                    </div>

                    @Html.LabelFor(model => model.PersonInCharge.Email, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.PersonInCharge.Email, new { @class = "form-control" })
                    </div>
                </div>
                <!-- ./PersonInCharge -->

                <div class="form-group">
                    <div class="form-control-static col-md-12">
                        @Html.TextAreaFor(model => model.CompanyCommitmentMessage, new { @class = "form-control", @rows = "4"})
                    </div>
                    @Html.ValidationMessageFor(model => model.CompanyCommitmentMessage, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.Remunerated, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-2">
                        @Html.EditorFor(model => model.Remunerated, new { htmlAttributes = new { @class = "checkbox" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeSignature, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.EmployeeSignature, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>

                   @Html.LabelFor(model => model.EmployeeSignedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                       @Html.EditorFor(model => model.EmployeeSignedDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>
            </div>
        </div>

        <!-- StudentSection -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Stagio.Web.WebMessage.InternshipAgreementMessage.StudentSection.SECTION_TITLE
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.StudentName, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-5">
                        @Html.DisplayFor(model => model.StudentName)
                    </div>

                    @Html.LabelFor(model => model.StudentIdentifier, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-3">
                        @Html.DisplayFor(model => model.StudentIdentifier)
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-control-static col-md-12">
                        @Html.TextAreaFor(model => model.StudentCommitmentMessage, new { @class = "form-control", @rows = "4" })
                    </div>
                    @Html.ValidationMessageFor(model => model.StudentCommitmentMessage, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudentSignature, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.StudentSignature, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>

                    @Html.LabelFor(model => model.StudentSignedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.StudentSignedDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>
            </div>
        </div>

        <!-- School Section -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Stagio.Web.WebMessage.InternshipAgreementMessage.SchoolSection.SECTION_TITLE
            </div>
            <div class="panel-body">
                <!-- Coordinator -->
                <div class="form-group">
                    @Html.LabelFor(model => model.Coordinator.Name, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.Coordinator.Name)
                    </div>

                    @Html.LabelFor(model => model.Coordinator.Title, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @*@Html.DisplayFor(model => model.Coordinator.Title)*@ <b>TODO - MAKE TITLE MANDATORY</b>
                    </div>

                    @Html.LabelFor(model => model.Coordinator.PhoneNumber, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.Coordinator.PhoneNumber)
                    </div>

                    @Html.LabelFor(model => model.Coordinator.Email, new { @class = "control-label col-md-2" })
                    <div class="form-control-static col-md-4">
                        @Html.DisplayFor(model => model.Coordinator.Email, new { @class = "form-control" })
                    </div>
                </div>
                <!-- ./Coordinator -->

                <div class="form-group">
                    <div class="form-control-static col-md-12">
                        @Html.TextAreaFor(model => model.SchoolCommitmentMessage, new { @class = "form-control", @rows = "4" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SchoolCommitmentMessage, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CoordinatorSignature, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.CoordinatorSignature, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>

                    @Html.LabelFor(model => model.CoordinatorSignedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.CoordinatorSignedDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Activer la convention de stage" class="btn btn-primary" />
                @Html.ActionLink("Annuler", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
            </div>

        </div>

    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
