@using System.Web.Mvc.Html
@using Stagio.Domain.Application
@model Stagio.Web.ViewModels.Archives.Details

<h2 id="">Statistiques de la période de stage</h2>
<hr />

@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Id)

    <h2>Détails de l'offre de stage</h2>
    <hr />
    <div class="form-horizontal">
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">Informations de base</div>
                <div class="panel-body">
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.InternshipPeriod.StartDate, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.InternshipPeriod.StartDate)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.InternshipPeriod.EndDate, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.InternshipPeriod.EndDate)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentsCount, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.StudentsCount)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentsWithInternship, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.StudentsWithInternship)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => (model.StudentsCount - model.StudentsWithInternship), new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.Display(WebMessage.InternshipPeriodMessage.STUDENTS_WITHOUT_INTERNSHIP_COUNT)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeesCount, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.EmployeesCount)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompaniesCount, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.CompaniesCount)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.InternshipOffersCount, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.InternshipOffersCount)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InternshipApplicationsCount, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.InternshipApplicationsCount)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.InterviewsCount, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.InternshipApplicationsCount)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyOffersCount, new { @class = "control-label col-md-4" })
                        <div class="form-control-static col-md-6">
                            @Html.DisplayFor(model => model.CompanyOffersCount)
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="col-md-8">

            @if (User.IsInRole(RoleNames.Student))
            {
                <div class="col-md-offset-4">
                    @Html.ActionLink("Retour", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
                </div>

            }
            else if (User.IsInRole(RoleNames.Coordinator))
            {
                <div class="col-md-offset-4">
                    @Html.ActionLink("Retour", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
                </div>
            }
            else if (User.IsInRole(RoleNames.Employee))
            {
                <div class="col-md-offset-4">
                    @Html.ActionLink("Retour", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
                </div>
            }
        </div>*@
    </div>
}

