@model Stagio.Web.ViewModels.Coordinator.Index

@{
    ViewBag.Title = "Accueil";
}

<h2 id="coordinator-index-page">@WebMessage.GeneralMessage.MY_STAGIO_ACCOUNT</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identifier)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.LastName, new { id = "LastName" })
        </td>
        <td>
            @Html.DisplayFor(model => model.FirstName, new { id = "FirstName" })
        </td>
        <td>
            @Html.DisplayFor(model => model.PhoneNumber, new { id = "PhoneNumber" })
        </td>
        <td>
            @Html.DisplayFor(model => model.Identifier, new { id = "Email" })
        </td>
    </tr>
</table>