@model List<Stagio.Web.ViewModels.Coordinator.ImportStudentViewModel>
<h2>@WebMessage.CoordinatorMessage.VALIDATE_IMPORT</h2>

@using (Html.BeginForm("ValidateImport", "Coordinator", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="panel panel-primary">

            <div class="panel-heading">
                @WebMessage.CoordinatorMessage.DATA_TO_IMPORT
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@WebMessage.UserInformation.IDENTIFIER</th>
                                <th>@WebMessage.UserInformation.FIRST_NAME</th>
                                <th>@WebMessage.UserInformation.LAST_NAME</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td hidden="hidden">@Html.EditorFor(x => x[i].Identifier)</td>
                                    <td hidden="hidden">@Html.EditorFor(x => x[i].FirstName)</td>
                                    <td hidden="hidden">@Html.EditorFor(x => x[i].LastName)</td>

                                    <td>@Html.DisplayFor(x => x[i].Identifier)</td>
                                    <td>@Html.DisplayFor(x => x[i].FirstName)</td>
                                    <td>@Html.DisplayFor(x => x[i].LastName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-footer">
                <p class="col-md-offset-2">
                    <input type="submit" value=@WebMessage.CoordinatorMessage.IMPORT_STUDENT_ACCOUNTS id="create-btn" class="btn btn btn-primary" />
                    @Html.ActionLink(@WebMessage.GeneralMessage.CANCEL, MVC.Coordinator.Index(), new { @class = "btn btn-default" })
                </p>
            </div>
        </div>

    </div>
}
