@model Stagio.Web.ViewModels.Student.Index

<h2 id="student-index-page">@WebMessage.GeneralMessage.MY_STAGIO_ACCOUNT</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identifier)
        </th>
        <th></th>
    </tr>
    
    <tr>
        <td id="LastName">
            @Html.DisplayFor(model => model.LastName, new { id = "LastName" })
        </td>
        <td id="FirstName">
            @Html.DisplayFor(model => model.FirstName, new { id = "FirstName" })
        </td>
        <td id="PhoneNumber">
            @Html.DisplayFor(model => model.PhoneNumber, new { id = "PhoneNumber" })
        </td>
        <td id="Identifier">
            @Html.DisplayFor(model => model.Identifier, new { id = "Identifier" })
        </td>
    </tr>

</table>
