@model Stagio.Web.ViewModels.InviteCompanies.InviteCompanies

<h2 id="invite-companies-page">@WebMessage.CoordinatorMessage.InviteCompanies.TITLE</h2>
<hr />

@Html.AntiForgeryToken()

@using (Html.BeginForm("InviteCompanies", "InviteCompanies", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading" id="panel-header">
                    @WebMessage.CoordinatorMessage.InviteCompanies.SEND_MESSAGE
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", id = "object-textbox" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Body, new { @class = "form-control", id = "message-textbox", placeholder = "Veuillez saisir votre message.", rows = "6" })
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="panel-footer ">
                    <div class="col-md-offset-2">
                        <input type="submit" value=@WebMessage.CoordinatorMessage.InviteCompanies.SEND_INVITATIONS class="btn btn-primary" id="submit-button" />
                        @Html.ActionLink(@WebMessage.GeneralMessage.CANCEL, MVC.Coordinator.Index(), new { @class = "btn btn-default", id = "cancel-button" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
